.menu{
    background-color: aquamarine;
    padding: 0.6rem;
    }
    .menu-item{
      list-style-type: none;
      display: flex;
      justify-content: center;
    }
    .menu-item li{
      /* flex-basis: 30rem; */
      font-size: 1.7rem;
    }
    .menu-item li a {
      text-decoration: none;
      color: black;
    }
    .formik{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .custom-quill {
      width: 600px; /* Set the desired width */
      height: 70px; /* Set the desired height */
    }
    
    .register-form-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }
    .formName {
      display: flex;
      margin-top: 3rem;
    }
    
    .formName label {
      flex: 0.3;
    }
    
    .formName div {
      flex: 1.3;
    }
    
    
    
    .input-formName {
      display: flex;
      margin-top: 1rem;
    }
    
    .input-formName label {
      flex: 0.3;
    }
    
    .input-formName div {
      flex: 1.3;
    }
    
    
    .custom-input {
      width: 200px; 
      height: 30px; 
      margin-left:1.5rem;
    }
    .formik{
      margin-left: 10%;
    }
    .buttonSubmit{
      margin-top: 5rem;
      margin-left: 20%;
    }