.menu{
background-color: aquamarine;
padding: 0.6rem;
}
.menu-item{
  list-style-type: none;
  display: flex;
}
.menu-item li{
  flex-basis: 30rem;
  font-size: 1.2rem;
}
.menu-item li a {
  text-decoration: none;
  color: black;

}